body, html {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    max-width: 20rem;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #e1e1e1;
}

form.alternate {
    background-color: #fff;
    border: none;
}

form.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form.dashboard>* {
    margin: 0.3rem 0;
}

form>input:not([type="submit"]) {
    min-width: 13rem;
}

input[type="submit"], button {
    padding: 0.2rem 0.5rem;
    min-width: 5rem;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

button {
    margin: 0.2rem 0;
}


input.short {
    max-width: 5rem;
}

form.dashboard>input[type="submit"] {
    padding: 0.2rem 0.5rem;
    min-width: 8rem;
}

.dashboard>button {
    min-width: 10rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.8rem 0;
}

.container.row {
    flex-direction: row;
}

form.container>* {
    margin: 0.2rem 0;
}

.container>* {
    margin: 0 auto;
    min-width: 13rem;
}

.container.small>* {
    min-width: 5rem;
}

.center {
    text-align: center;
    margin: 0.5rem 0;
}

.left {
    text-align: left;
}

.margined {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

/* Style the table */
table {
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 700px;
  background-color: #fff;
}

/* Style the table header */
th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

/* Add some hover effect to the table rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Style the header row differently for better visibility */
th {
  background-color: #e2e2e2;
  color: black;
}

/* Style odd and even rows differently for better readability */
tr:nth-child(even) {
  background-color: #f9f9f9;
}
